<nav class="navbar navbar-expand-lg bg-brown p-0">
  <div class="container-fluid text-center p-0 ">
    <div class="collapse navbar-collapse p-0 m-0 " id="navbarNavDropdown">
      <ul class="navbar-nav row m-0 p-0 w-100">
        <li class="nav-item col-1 border-right-brown my-auto py-1">
          <a class="navbar-brand m-0" href="#"><img ngSrc="assets/images/logo.png" class="upscale" alt="logo.png" width="50" height="50"></a>
        </li>
        <li class="nav-item col border-right-brown border-left-brown nav-element">
          <a class="nav-link text-orange fw-bold fs-3  " aria-current="page" href="#">CV EN PDF</a>
        </li>
        <li class="nav-item col border-right-brown border-left-brown nav-element">
          <a class="nav-link text-orange fw-bold fs-3" href="#">PORTFOLIO</a>
        </li>
        <li class="nav-item col border-right-brown border-left-brown nav-element">
          <a class="nav-link text-orange fw-bold fs-3" href="#">BOMBERMAN</a>
        </li>
        <li class="nav-item col-1 border-left-brown my-auto py-2 ">
          <a class="navbar-brand m-0" href="#"><fa-icon [icon]="faGitHub" class="fa-xl text-yellow upscale d-block" size="xl"></fa-icon></a>
        </li>
      </ul>
    </div>
  </div>
</nav>
