<div class="parallax">
  <div class="parallax__layer parallax__layer__0">
    <img ngSrc="assets/images/fw-parallax/layer_0.png" alt="layer_0" height="455" width="3000" priority/>
  </div>
  <div class="parallax__layer parallax__layer__1">
    <img ngSrc="assets/images/fw-parallax/layer_1.png" alt="layer_1" height="455" width="3000" priority/>
  </div>
  <div class="parallax__layer parallax__layer__2">
    <img ngSrc="assets/images/fw-parallax/layer_2.png" alt="layer_2" height="455" width="3000" priority/>
  </div>
  <div class="parallax__layer parallax__layer__3">
    <img ngSrc="assets/images/fw-parallax/layer_3.png" alt="layer_3" height="455" width="3000" priority/>
  </div>
  <div class="parallax__layer parallax__layer__4">
    <img ngSrc="assets/images/fw-parallax/layer_4.png" alt="layer_4" height="455" width="3000" priority/>
  </div>
  <div class="parallax__layer parallax__layer__5">
    <img ngSrc="assets/images/fw-parallax/layer_5.png" alt="layer_5" height="455" width="3000" priority/>
  </div>
  <div class="parallax__layer parallax__layer__6">
    <img ngSrc="assets/images/fw-parallax/layer_6.png" alt="layer_6" height="455" width="3000" priority/>
  </div>
  <div class="parallax__cover text-white">
    <app-biography></app-biography>
  </div>
</div>
