<div class="container ">
  <div class="row justify-content-around mt-5 pt-5 h-225px">
    <div class="col-4 p-0 bg-beige rounded text-brown shadow-inset">
      <ul class="row d-flex align-content-around text-center h-100 m-0 p-0">
        <li class="col-12"><fa-icon [icon]="faUser" class="me-2"></fa-icon> {{ age }} ans</li>
        <li class="col-12"><fa-icon [icon]="faCompass" class="me-2"></fa-icon> {{ biography.city }}</li>
        <li class="col-12"><fa-icon [icon]="faPhone" class="me-2"></fa-icon> {{ biography.phoneNumber}} </li>
      </ul>
    </div>

    <div class="col-7 d-flex align-items-center text-beige">
      <p class="m-0"> {{ biography.biography}} </p>
    </div>
  </div>
</div>
